* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background:#F4EACE;
  color:#000;
  padding: 2rem;
  margin: 0;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Vollkorn', serif;
}

body {
  background-color:#F4EACE;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
    background color: #5D4954;
    font-family: 'Lato',sans-serif;
  }

.logo{
  color: #231E0D;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 22px;
}
nav ul {
    display:flex;
    background-color: none;
    justify-content: space-around;
    width: 35%;
}

nav ul{
    color: #231E0D;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 13px;
}

nav ul li{
    list-style: none;
    color:#231E0D;
    text-decoration: none;
    font-family: sans-serif;
    margin: 0;
    margin-left: 1rem;
}

footer {
      background:#F4EACE;
      color:#231E0D;
      padding: 2rem;
      margin: 0;
      margin-bottom: 0rem;
      text-align: center;
}

a:link {
  color: #231E0D
}
a:visited {
  color: #231E0D
}

/* break */

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #231E0D;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #F4EACE;
  color: #231E0D;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-family: 'Vollkorn', serif;
  text-transform: full-width;
  font-weight: 750;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 17px;
  line-height: 30px;
  font-weight: 500;
}
.timeline-content .date {
  font-style: italic;
  color: #F4EACE;
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 600px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-40%);
    width: 2px;
    height: 100%;
    background-color: #E30A17;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #E30A17;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: #231E0D;
  }
}

/* I referenced a tutorial I found on Youtube,
https://www.youtube.com/watch?v=zNccqv0g6Q4, to make the timeline. */
